<form method="post" action="{{ path('factura_delete', {'item': imagen.item}) }}" onsubmit="return confirm('Esta Seguro de Eliminar la Imagen?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ imagen.item) }}">
    <div class="container">
    <button class="btn btn-success">Delete</button>
    </div>
</form>
