{% extends 'base.html.twig' %}

{% block title %}Nueva Imagen{% endblock %}

{% block body %}
 
  <br></br>
    <center><h1>Create Nueva Imagen</h1><center/>
  <br></br>

    <div class="container>"
      <div class=col-md-12">

    {{ include('factura/_form.html.twig') }}

    <a href="{{ path('factura_index') }}">Volver Lista</a>
      </div>
    </div>
{% endblock %}
